body {
    background-color: antiquewhite;
}

.h1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h1 {
    /* display: flex;
    justify-content: center; */
    background-color: rgb(194, 248, 248);
    border: 3px solid black;
    border-radius: 20px;
    width: max-content;
    height: max-content;
    align-content: center;
    margin: 10px;
    padding: 10px 50px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: #FC0 1px 0 10px;

}
.body{
    margin-left: 10px;
    font-size: large;
    color: rgb(182, 44, 60);
}
input,label{
    font-size: large;
}
#email{
    margin-left: 29px;
}
button {
    color: rgb(0, 0, 0);
    padding: 5px 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-variant: small-caps;
    text-shadow: #FC0 1px 0 10px;
    background-color: rgb(194, 248, 248);
    border: 2px solid black;
    border-radius: 5px;
}